.nav-link {
  color: #000000;
  text-decoration: none;
  width: 100%;
}

.icons {
  color: #000000;
}
.icons-selected {
  color: #ffffff;
}

.date-picker-input {
  font: inherit;
  letter-spacing: inherit;
  color: currentColor;
  border: 1px;
  padding: 4px 12px !important;
  background: none;
  height: 2.4375em;
  margin: 0;
  display: block;
  min-width: 0;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-animation-name: mui-auto-fill-cancel;
  animation-name: mui-auto-fill-cancel;
  -webkit-animation-duration: 10ms;
  animation-duration: 10ms;
}

.react-datepicker-wrapper {
  border: 1px solid #c4c4c4 !important;
  border-radius: 4px;
  width: 100%;
}

.date-picker-input::placeholder {
  color: #a2a2a2 !important;
}
